---
import Layout from '../layouts/Layout.astro';
import ResultCard from './partials/ResultCard.astro'

// 画像を取得する
const response = await fetch("https://avatars.githubusercontent.com/u/40382980?v=4")

// レスポンスをBlobオブジェクトとして取得する
const blob = await response.blob()

// Bufferオブジェクト経由でBase64文字列に変換する
const arrayBuffer = await blob.arrayBuffer()
const myBuffer = Buffer.from(arrayBuffer)
const base64 = myBuffer.toString('base64')

// Base64文字列を使ってData URLsを作成する
const base64DataURL = `data:image/png;base64,${base64}`

// 変換後のData URLを表示する
console.log(base64DataURL)
---

<Layout title="Calling GitHub API with Redis cache.">
	<main>
		<sl-card class="gap">
			<sl-input id="username" class="gap" clearable label="Enter your GitHub username">
				<span id="handle-icon" slot="prefix">@</span>
			</sl-input>
			<div class="right">
				<sl-button
				  hx-trigger="click"
				>Search</sl-button>
			</div>
		</sl-card>
		<img src={base64DataURL}/>
		<ResultCard username='' public_repos={13} />
	</main>
</Layout>

<style>
	#handle-icon {
		opacity: 0.5;
	}
	.right {
		text-align: right;
	}
</style>
